.list {
  display: flex;
  margin-bottom: 20px;
}

.item {
  width: 150px;
  height: 40px;
  border: solid 1px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
